/* = = = =  GLOBAL  = = = = */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --bg-page: #343a40;
    --bg-icons: #ffffff;
    --bg-instagram: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);

    --c-linkedin: #0077b5;
    --c-github: #000000;
    --c-twitter: #1da1f2;
    --c-youtube: #fe0000;

    --fc-instagram: #dc2743;
    
    --ff-base: 'Roboto', sans-serif;
    --fc-base: #ffffff;
}

/* = = = =  HERO  = = = = */

.hero{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-page);
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.wrapped-icon{
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    
    border-radius: 10rem;
    background: var(--bg-icons);
    
    text-align: center;
    font-size: 5rem;
    line-height: 10rem;
    font-family: var(--ff-base);
    box-shadow: .5rem 1rem 2rem rgba(41, 41, 41, 0.3);

    transition: all .3s ease-out;
}

.wrapped-icon:hover{
    width: 35rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--fc-base);
}

.wrapped-icon:hover i{
    color: var(--fc-base);
}

.fa-linkedin-in{
    color: var(--c-linkedin);
}

.linkedin:hover{
    background: var(--c-linkedin);
}

.fa-github{
    color: var(--c-github);
}

.git:hover{
    background: var(--c-github);
}

.fa-instagram{
    color: var(--fc-instagram);
}

.instagram:hover{
    background: var(--bg-instagram);
}

.fa-twitter{
    color: var(--c-twitter);
}

.twitter:hover{
   background: var(--c-twitter); 
}

.fa-youtube{
    color: var(--c-youtube);
}

.youtube:hover{
    background: var(--c-youtube);
}

@media(max-width: 750px){
    .hero{
        flex-direction: column;
    }

    .wrapped-icon{
        width: 5rem;
        height: 5rem;
        border-radius: 5rem;

        font-size: 3rem;
        line-height: 5.5rem;
    }

    .wrapped-icon:hover{
        width: 23rem;
    }
}